.main-content {
   /* width: 300px;*/
background-color: antiquewhite;
    padding: 5px;
    margin: 0 auto;
    width: 50vw;
}

.info-block {
    width: calc(50% - 50px);
    font-size: 14px;
    background-color: #04959E;
    /*padding: 2em;*/
    padding: 2rem;
    margin: auto;
    border: 4px solid black;
    border-radius: 3px;
    /*min-width: ;
    max-width: ;*/
}