#wrapper {
    width: 800px;
}
header {
    color: white;
    width: 100%;
    background-color: blue;
    padding: 10px;
    margin: 0 auto;
    border: 10px solid darkblue;
    margin: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
main {
    color: black;
    width: calc(100% - 100px);
    background-color: yellow;
    padding: 10px;
    margin: 0 auto;
    border: 50px solid darkolivegreen;
    margin: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

footer {
    color: white;
    width: 100%;
    background-color: blue;
    padding: 10px;
    margin: 0 auto;
    border: 10px solid darkblue;
    margin: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
