
<div class="container">
  <div class="grid">
    <div class="item">Item 1</div>
    <div class="item">Item 2</div>
    <div class="item">Item 3</div>
    <div class="item">Item 4</div>
    <div class="subgrid">
      <div class="item">Item 5_1</div>
      <div class="item">Item 5_2</div>
    </div>
  </div>
</div>
