.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  background-color: #aba7a7;
}

.subgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: span 2;
  gap: 1rem;
}

.item {
  background-color: #4e4b44;
  color: white;
  padding: 20px;
}

.subgrid .item {
  background-color: #c94545;
}

.container {
  padding: 1rem;
  margin-top: 4rem;
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
}

body {
  font-family: system-ui, sans-serif;
  max-width: 768px;
  margin: 0 auto;
  background-color: #dfe7e6;
}
