main {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(300px, 100%), 1fr)
  );
  gap: 1rem;
  grid-auto-flow: dense;
}


article {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;

  display: grid;
  grid-auto-rows: 180px 1fr auto;
  overflow: hidden;
}

img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  width: 100%;
  display: block;
  height: 180px;
  object-fit: cover;
}

h2 {
  font-size: 19px;
}

.p7 {
  padding: 7px;
}
