<section class="wrapper">
 <h2 class="heading">Blog Posts</h2>
  <main>
    <article>
      <img
        src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?crop=entropyq=80&w=400"
        alt=""
      />

      <h2 class="p7">Lorem ipsum dolor sit</h2>
      <div class="read__more">Read more</div>
    </article>
    <article>
      <img
        src="https://images.unsplash.com/photo-1650542918181-ba360683d936?crop=entropyq=80&w=400"
        alt=""
      />

      <h2 class="p7">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit Lorem ipsum
      </h2>
      <div class="read__more">Read more</div>
    </article>
    <article>
      <img
        src="https://images.unsplash.com/photo-1497215728101-856f4ea42174?crop=entropyq=80&w=400"
        alt=""
      />

      <h2 class="p7">Mollitia commodi, earum vitae</h2>
      <div class="read__more">Read more</div>
    </article>
    <article>
      <img
        src="https://images.unsplash.com/photo-1650548158371-d48266a26887?crop=entropyq=80&w=400"
        alt=""
      />

      <h2 class="p7">maxime excepturi odio quasi voluptates</h2>
      <div class="read__more">Read more</div>
    </article>
    <article>
      <img
        src="https://images.unsplash.com/photo-1650614967039-1cb97737df86?crop=entropyq=80&w=400"
        alt=""
      />
      <h2 class="p7">laboriosam iste quis, nihil dolor</h2>
      <div class="read__more">Read more</div>
    </article>
    <article>
      <img
        src="https://images.unsplash.com/photo-1650639012849-c66a018e107a?crop=entropyq=80&w=400"
        alt=""
      />
      <h2 class="p7">
        voluptatem dolore. Numquam Veniam deleniti
      </h2>
      <div class="read__more">Read more</div>
    </article>
    <article>
      <img
        src="https://images.unsplash.com/photo-1650637472771-16fedc3c6668?crop=entropyq=80&w=400"
        alt=""
      />

      <h2 class="p7">
        amet consectetur adipisicing elit amet consectetur
      </h2>
      <div class="read__more">Read more</div>
    </article>
    <article>
      <img
        src="https://images.unsplash.com/photo-1650653823792-31256d087311?crop=entropyq=80&w=400"
        alt=""
      />
      <h2 class="p7">Totam iusto adipisci quidem</h2>
      <div class="read__more">Read more</div>
    </article>
  </main>
</section>
