main {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(300px, 100%), 1fr)
  );
  gap: 1rem;
  grid-auto-rows: 180px 1fr auto;
  grid-auto-flow: dense;
}

article {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  overflow: hidden;
  
  display: grid;
  grid-row: span 3;
  grid-template-rows: subgrid;
  row-gap: 0px;
}

img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  width: 100%;
  display: block;
/*   height: 180px; */
  height: 100%;
  object-fit: cover;
}

h2 {
  font-size: 19px;
}

.p7 {
  padding: 7px;
}

.read__more {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
  padding: 7px;
}


* {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  height: 100vh;
}

body {
  font-family: system-ui, sans-serif;
  margin: 0 auto;
}

.wrapper {
  max-width: 1280px;
  margin: 4rem auto;
  padding-inline: 1rem;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.description {
  display: none; /* Hide description by default */
  font-size: 13px;
  padding: 0 7px 7px;
}

article[data-custom='true'] {
  @media (min-width: 996px) {
    grid-column: span 2;
    grid-template-columns: subgrid;

    > img {
      grid-column: 1 / -1;
    }

    > h2 {
      grid-column: 1 / -1;
      font-size: 30px;
    }

    .description {
      display: block;
    }
  }
}
